@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.intro {
  color: #302f4e;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  width: 100%;
  padding: 10px; }

.imgvista {
  width: 400px;
  height: 400px; }

/*Clase para el div despues de la etiqueta Body*/
.cuerpo {
  background: #fcaf90;
  background: linear-gradient(0deg, #fce390 0%, #fce596 10%, #fdecb0 30%, #fffff0 100%); }

/*Clase para el primer div contenedor del titulo*/
.intro h1 {
  font-family: "Mulish", sans-serif; }

.intro h2 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  text-align: center; }

/*Seteo de tamaño de imagen carrusel en index*/
/*Margenes para ROW containers en FAQ y Apartamentos*/
.rmargin {
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px; }

/*Estilo para botones*/
.btn-style {
  width: 100px;
  border-radius: 5px;
  background-color: #236a96;
  border: 0px;
  font-family: "Mulish", sans-serif; }
  .btn-style:hover {
    background-color: #302f4e; }

/*Estilo para texto de contenido*/
.cont-stl {
  font-family: "Mulish", sans-serif;
  color: #302f4e; }

/*Estilo para  navbar*/
.header__navpos {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }
  .header__navpos .color-me {
    color: #236a96; }
    .header__navpos .color-me:hover {
      color: #302f4e; }
  .header__navpos li {
    font-family: "Mulish", sans-serif;
    border-left: 1px solid #236a96;
    padding: 0px 5px; }
  .header__navpos--logoimg {
    width: 120px;
    height: 110px;
    margin: 0px 20px; }
  .header__navpos .btn-color {
    color: #236a96; }

/*Div contenedor principal de FAQ*/
.contfaq {
  background-color: #ffffff;
  border-radius: 5px; }

.contact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 20 vw; }
  .contact label {
    padding: 5px; }
  .contact input {
    text-align: center;
    border-radius: 5px; }
    .contact input:focus {
      background-color: #236a96;
      color: #ffffff; }
      .contact input:focus::placeholder {
        color: #ffffff; }
  .contact textarea {
    text-align: center;
    border-radius: 5px; }
    .contact textarea:focus {
      background-color: #236a96;
      color: #ffffff; }
      .contact textarea:focus::placeholder {
        color: #ffffff; }

/*Clases para el contenido de footer*/
.footer {
  margin: 20px 0px;
  background-color: #ffffff;
  height: 40px;
  padding-top: 20px;
  margin-top: 50px; }
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer ul li {
      display: flex;
      text-decoration: none;
      justify-content: space-evenly; }
      .footer ul li a {
        text-decoration: none;
        color: #236a96; }
        .footer ul li a:hover {
          color: #302f4e; }
