* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  @import './sections/shared';
  @import './sections/navbar';
  @import './sections/faq';
  @import './sections/contact';
  @import './sections/footer';