.contact {
    display:flex ;
    flex-direction: column;
    padding: 10px;
    min-width: 20vw;
    label {
      padding: 5px;
    }
    input {
      text-align: center;
      border-radius: 5px;
      &:focus {
        background-color: #236a96;
        &::placeholder {
          color: #fff;
        }
        color: #fff;
      }
    }
    textarea {
      text-align: center;
      border-radius: 5px;
      &:focus {
        background-color: #236a96;
        &::placeholder {
          color: #fff;
              }
        color: #fff;
      }
    }
  }