/*Clase para el div despues de la etiqueta Body*/
.cuerpo {
  background: rgb(252, 175, 144);
  background: linear-gradient(
    0deg,
    rgba(252, 227, 144, 1) 0%,
    rgba(252, 229, 150, 1) 10%,
    rgba(253, 236, 176, 1) 30%,
    rgba(255, 255, 240, 1) 100%
  );
}

/*Clase para el primer div contenedor del titulo*/
.intro {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #302f4e;
  h1{
    font-family: 'Mulish', sans-serif;
  }
  h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-align: center;
  }
}

/*Seteo de tamaño de imagen carrusel en index*/
.imgvista {
  width: 400px;
  height: 400px;
}

/*Margenes para ROW containers en FAQ y Apartamentos*/
.rmargin {
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
}

/*Estilo para botones*/
.btn-style {
  width: 100px;
  border-radius: 5px;
  background-color: #236a96;
  border: 0px;
  font-family: 'Mulish', sans-serif;
  &:hover {
    background-color: #302f4e;
  }
}

/*Estilo para texto de contenido*/
.cont-stl {
    font-family: 'Mulish', sans-serif;
    color: #302f4e;
}