.contact {
    display:flex ;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 10px;
    min-width: 20vw;
    label {
      padding: 10px;
    }
    input {
      text-align: center;
      &:focus {
        background-color: aquamarine;
        &::placeholder {
          color: white;
        }
      }
    }
    textarea {
      text-align: center;
      &:focus {
        background-color: aquamarine;
        &::placeholder {
          color: white;
        }
      }
    }
  }