.footer {
    margin: 20px 0px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 20px;
  
      li {
        display: flex;
        text-decoration: none;
        justify-content: space-evenly;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  